<!DOCTYPE html>
<html>
  <head>
    <title>RailsCognitoUserPoolExample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="container">
      <header>
        <a href="#" class="logo">Rails Cognito Example</a>
      </header>
        <% if (!@is_signed_in) %>
          <a href="https://monleadmanagement2.auth.eu-west-3.amazoncognito.com/login?response_type=code&client_id=4nro6fqq870d2j6mc2te98i56j&redirect_uri=https://127.0.0.1:3000/auth/sign_in" class="button">Sign In</a>
          <a href="https://monleadmanagement2.auth.eu-west-3.amazoncognito.com/signup?response_type=code&client_id=4nro6fqq870d2j6mc2te98i56j&redirect_uri=https://127.0.0.1:3000/auth/sign_in" class="button">Sign Up</a>
        <% else %>
          <a href="<%= signout_path %>" class="button">Sign Out</a>
        <% end %>
        <a href="http://www.google.be">sqddsqdq</a>
      <div class="container">
      
        <%= yield %>
      </div>
    </div>
  </body>
</html>
